@charset "utf-8"
@import url(normalize.css);
#container {
    background-color: rgb(72, 171, 218);
    margin: 0px auto;
    width: 80%;
}
body {
    background-color: rgb(252, 255, 215);
    color: rgb(71, 71, 223);
    margin:0px;
}
h1 {
    background-color:#907ce7;
    color: rgb(226, 128, 128);
    border:5px solid #f36120
    padding:30px;
    margin:40px auto;
    width:300px;
    font-size:300%;
    text-align:center;
    line-height:1;
}
a {
    color:#ffffff
}
h2 {
    padding:10px;
    margin-bottom: 30px;
    border: 1px dotted #8C8CFF;
    border-left:10px solid #5959FF;
    color: #5959FF;
}
.round{
    border-radius: 50%;
}