@charset "utf-8"
@import url(normalize.css);
#container {
    background-color: rgb(116, 203, 243);
    margin: 0px auto;
    width: 80%;
}
body {
    background-color: rgb(214, 255, 252);
    color: rgb(239, 248, 197);
    margin:0px;
}
h1 {
    background-color:rgb(202, 252, 173);
    color: rgb(226, 128, 128);
    border:5px solid #f36120
    padding:30px;
    margin:40px auto;
    width:300px;
    font-size:300%;
    text-align:center;
    line-height:1;
}
a {
    color:#ffffff
}
h2 {
    padding:10px;
    margin-bottom: 30px;
    border: 1px dotted #8C8CFF;
    border-left:10px solid #5959FF;
    color: #5959FF;
}
.round{
    border-radius: 50%;
}
nav{
    background-color: rgb(150, 202, 250);
    text-align: center;
}

nav li{
    list-style-type:none;
    display:inline-block;
}
nav li a{
    display: block;
    text-decoration: none;
    padding:10px;
    color:white;
}
nav li a:hover{
    background-color: lightyellow;
    color:red;
}
.post{
    text-align:center;
    padding: 10px;
    float:center;
}
.post2{
    text-align:center;
    padding:10px;
    float:center;
}

